body {
	padding: 20px 10px;
	font-family: Lucida;
	max-width: 2000px;
	margin: 0 auto;
	font-size: 1.6em;
}

h1 {
	text-align: center;
	color: #000066;
}

p {
	margin: 10px 0;
}

.lesson {
	background-color: #000066;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin: 10px auto;
}

h2 {
	margin: 10px;
}

.concept {
	background-color: #FFCC66;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.concept-title {
	font-size: 1.6em;
	margin: 8px;
	text-align: center;
	color: #000066;
}

.concept-description {
	font-weight: lighter;
  	font-size: 1.2em;
	margin: 6px;
}

.code {
	font-family: Courier;
	background-color: #33CCFF;
	padding: 2px 4px;
	font-weight: bold;
}

.code-block {
	font-family: Courier;
	background-color: #33CCFF;
	padding: 2px 4px;
	font-weight: bold;
	display: inline-block;
}

.indent {
	margin-left: 28px;
}

